.tree-con {
    .pipe-v {
        position: absolute;
        width: calc(100% - 1em);
        height: calc(100% - 1.1em);
        border: 1px solid #505050;
        border-right: none;
        border-bottom: none;
        left: 0.5em;
        top: 0;
        pointer-events: none;
        border-top: none !important;
    }
    .pipe-h {
        height: 1px;
        width: 1em;
        border-bottom: 1px solid #444;
        position: absolute;
        top: 0.9em;
        z-index: 0;
        left: -0.5em;
        pointer-events: none;
    }
}