.app-con {
    nav {
        .brand {
            display: flex;
            align-items: center;
            gap: 0.5em;
            margin-inline: 0.5em;

            .logo {
                width: 32px;
                height: 32px;
            }

            h1 {
                margin: 0;
                font-size: 1.4em;
                padding: 0;
            }
        }

        .document {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;

            .view-toggle {
                display: flex;
                gap: 0.25em;
                margin-right: 1em;

                .btn.active {
                    background-color: #4b8062;
                }
            }
        }
    }
}