.app-con {
    nav {
        .document {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
        }
    }
}