html {
    font-family: Lato;
}

body {
    background: #191919;
}

.app-con {
    height: 100vh;
    nav {
        background-color: #101010;
        margin-bottom: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #eee;
        flex-wrap: wrap;
        h1 {
            margin: 0;
            padding: 0.5em;
        }
    }
    .grid-stick-layout {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 'header''main''footer';
        overflow: auto;
        &>.header {
            grid-area: header;
            position: relative;
            z-index: 10;
            padding-block-end: 0.5em;
            border-bottom: 1px solid #4b8062;
            font-weight: 100;
            display: flex;
            align-items: center;
            margin: 0;
        }
        &>.main {
            grid-area: main;
            overflow: auto;
        }
        &>.footer {
            grid-area: footer;
        }
    }
    .trees-con {
        display: flex;
        justify-content: space-evenly;
        height: calc(100vh - 6em);
        flex-wrap: wrap;
        gap: 1em;
    }
    .actions-panel {
        position: relative;
        z-index: 10;
        flex-shrink: 0;
    }
    .btn {
        display: inline-flex;
        color: #eee;
        border: none;
        border-radius: 0.1em;
        background-color: transparent;
        padding: 0.5em;
        font-size: 0.9em;
        cursor: pointer;
        opacity: 0.7;
        &.primary {
            background-color: #333;
            color: #eee;
            margin: 0.5em;
            border-radius: 0.2em;
        }
        &.disable {
            opacity: 0.4;
            cursor: not-allowed;
        }
    }
    .btn:hover:not(.disable),
    .btn.active:not(.disable) {
        opacity: 1;
    }
    select.btn {
        min-width: 6em;
    }
    .content {
        display: flex;
        align-items: center;
        align-content: center;
    }
    .truncate {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    *::-webkit-scrollbar {
        width: 6px;
    }
    *::-webkit-scrollbar-track {
        box-shadow: inset 0 0 4px rgba(20, 20, 20, 0.3);
    }
    *::-webkit-scrollbar-thumb {
        background-color: rgba(20, 20, 20, 0.829);
        outline: 1px solid rgb(24, 24, 24);
    }
    .rtl.tree-con {
        direction: rtl;
        .pipe-v {
            border: 1px solid #505050;
            border-left: none;
        }
        .pipe-h {
            right: -0.5em;
            left: unset;
        }
        .collapsser-con {
            border-radius: 0 0.3em 0.3em 0;
        }
    }
    .nav-panel {
        display: flex;
        align-items: center;
    }
}