.tree-con {
    &.light-theme {
        filter: invert(1) hue-rotate(180deg) brightness(0.7) contrast(3.6);
    }
    display: block;
    flex: 1 1;
    margin: 0 0.5em;
    padding: 0.5em;
    background: #232323;
    color: #eee;
    height: 100%;
    border-radius: 0.5em;
    width: 0px;
    min-width: 200px;
    .head-row {
        position: relative;
        display: flex;
        align-items: center;
        h4 {
            margin: 0 0;
            /* padding-block-end: 0.5em; */
            /* border-bottom: 1px solid #4b8062; */
            flex: 1;
            min-width: 0;
            font-weight: normal;
        }
        .header-actions {
            display: flex;
            align-items: center;
            gap: 0.25em;
            flex-shrink: 0;
        }
        .add-item-btn {
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            padding: 0.25em;
            border-radius: 4px;
            &:hover {
                background: rgba(255, 255, 255, 0.1);
            }
        }
        .actions-panel {
            position: relative;
            display: inline-flex;
            align-items: center;
            flex-shrink: 0;
            z-index: 10;
        }
    }
}